menu "user packages " 
config cora-navigation
	 bool "cora-navigation"
	 help

config gnuradio
	 bool "gnuradio"
	 help

config gpio-demo  
	 bool "gpio-demo"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
endmenu
